.dashboard {
  text-align: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #2e7d32;
}

/* FORM */
.form input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 260px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
  padding: 12px 25px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* RESULT */
.result-card {
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  background: #e8f5e9;
  border-radius: 12px;
}

.value {
  font-size: 28px;
  font-weight: bold;
  color: #2e7d32;
}

/* ECO SCORE */
.score-card {
  margin: 20px auto;
  padding: 15px;
  width: 250px;
  background: #dcedc8;
  border-radius: 12px;
}

.score {
  font-size: 32px;
  font-weight: bold;
  color: #2e7d32;
}

/* CHART */
.chart-container {
  width: 80%;
  margin: 30px auto;
}

/* TIPS */
.tips-card {
  width: 320px;
  margin: 30px auto;
  padding: 20px;
  background: #fff3e0;
  border-radius: 12px;
  text-align: left;
}

.tips-card h3 {
  text-align: center;
}

.tips-card ul {
  padding-left: 20px;
}

/* HISTORY */
.history-card {
  width: 350px;
  margin: 30px auto;
  padding: 20px;
  background: #e3f2fd;
  border-radius: 12px;
  text-align: left;
}

.clear-btn {
  display: block;
  margin: 10px auto;
  padding: 8px 15px;
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .chart-container,
  .result-card,
  .tips-card,
  .history-card {
    width: 90%;
  }

  .form input {
    width: 90%;
  }
}